doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Книжный магазин
    body
        include ../components/header/_header
        include ../components/slider/_slider
        section.content
            include ../components/sidebar/_sidebar
            include ../components/mainContent/_mainContent

