$mainFont: 'Montserrat', sans-serif;
$base-color: #fff;

//Header
$header-background:#fff;
$menu-color:#5C6A79;
$menu-hover-focus-color:#1c2a39;
$logo-color:#1c2a39;

//Slider
$dot-base-color: #efeef6;
$dot-active-color:#9e98dc;
$block-link-purple: #ff8fe6;
$block-link-violet: #9e98dc;

//Sidebar
$aside-background: #efeef6;

//book-card
$book-base-color:#5C6A79;
$book-font-family: 'Open Sans', sans-serif;
$book-h3-color:#1c2a39;
